:root {
  --border-color: dimgray;
  --winning-message-color: black;

  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme="default-theme"] {
  --primary-background-color: cornflowerblue;
  --secondary-background-color: steelblue;
  --primary-background-accent-color: gainsboro;
  --secondary-background-accent-color: white;
  --primary-accent-color: lightgrey;
  --secondary-accent-color: pink;
  --main-text-color: #1f1f29;
}

[data-theme="black-theme"] {
  --primary-background-color: #1a1a1d;
  --secondary-background-color: #4e4e50;
  --primary-background-accent-color: gainsboro;
  --secondary-background-accent-color: white;
  --primary-accent-color: #44318d;
  --secondary-accent-color: #c3073f;
  --main-text-color: white;
}

[data-theme="green-theme"] {
  --primary-background-color: #5cdb95;
  --secondary-background-color: #8ee4af;
  --primary-background-accent-color: #edf5e1;
  --secondary-background-accent-color: #1f1f29;
  --primary-accent-color: #05386b;
  --secondary-accent-color: #f2d349;
  --main-text-color: white;
}

[data-theme="white-theme"] {
  --primary-background-color: #f7f9fb;
  --secondary-background-color: gainsboro;
  --primary-background-accent-color: cornflowerblue;
  --secondary-background-accent-color: #1f1f29;
  --primary-accent-color: cornflowerblue;
  --secondary-accent-color: pink;
  --main-text-color: #1f1f29;
}

body {
  color: var(--main-text-color);
  background-color: var(--primary-background-color);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

h1,
h2,
fieldset,
p {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

.container {
  margin: 35px 30px 0 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.input-form {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.set-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.sets-name {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.sets-name [data-sets-name] {
  width: 250px;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  color: var(--secondary-background-accent-color);
  transition: border var(--transition-duration) var(--cubic-bezier);
}

.sets-name-label {
  position: absolute;
  left: 15px;
  color: var(--primary-background-accent-color);
  pointer-events: none;
  transform: translateY(1.1rem);
  transition: var(--transition-duration) var(--cubic-bezier);
}

.sets-name [data-sets-name]:focus ~ .sets-name-label,
.sets-name [data-sets-name]:valid ~ .sets-name-label {
  transform: translateY(-90%) scale(0.8);
  padding: 0 0.2rem;
  color: var(--secondary-background-accent-color);
}

.set-words-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.input-form input {
  padding: 5px;
  width: 120px;
  line-height: 1.3;
  color: var(--primary-background-accent-color);
  border: none;
  border-radius: 2px;
  background: var(--secondary-background-color);
  outline: 1px solid var(--primary-background-accent-color);
}

.input-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  cursor: pointer;
  font-weight: 600;
  color: var(--main-text-color);
  background-color: transparent;
  border: 2px solid var(--primary-background-accent-color);
  border-radius: 16px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    box-shadow var(--transition-duration) var(--cubic-bezier),
    border-color var(--transition-duration) var(--cubic-bezier);
}

.input-form button:hover {
  border: 2px solid var(--border-color);
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#clearButton:hover {
  background-color: var(--primary-background-accent-color);
}

.font-control-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 140px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid var(--secondary-background-accent-color);
}

/* Chrome, Safari, Opera, and Edge */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: var(--primary-background-accent-color);
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--secondary-background-accent-color);
  border-radius: 50%;
  border: 2px solid var(--secondary-background-color);
  box-shadow: -407px 0 0 400px var(--secondary-background-color);
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: var(--primary-background-accent-color);
  border-radius: 16px;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--secondary-background-accent-color);
  border-radius: 50%;
  border: 2px solid var(--secondary-background-color);
  box-shadow: -407px 0 0 400px var(--secondary-background-color);
}

.theme-title {
  margin-bottom: 20px;
}

.theme-changer {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
}

.theme-changer div {
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

.theme-changer span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 16px;
  border: 2px solid var(--border-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.theme-changer .fa-check {
  color: white;
  opacity: 0;
  transition: all 0.3s ease;
}

#defaultTheme + label span {
  background-color: cornflowerblue;
}

#blackTheme + label span {
  background-color: #1a1a1d;
}

#greenTheme + label span {
  background-color: #5cdb95;
}

#whiteTheme + label span {
  background-color: #f7f9fb;
}

#whiteTheme + label span .fa-check {
  color: #1a1a1d;
}

input[type="radio"]:checked + label span .fa-check {
  opacity: 1;
}

.board {
  width: 95vw;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  width: var(--cell-size);
  height: var(--cell-size);
  text-align: center;
  color: var(--main-text-color);
  font-size: 18px;
  border: 1px solid var(--primary-background-accent-color);
  cursor: pointer;
  overflow: hidden;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

.cell.x,
.cell.heart {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
  background-color: var(--primary-accent-color);
}

.cell.heart::before,
.cell.heart::after {
  background-color: var(--secondary-accent-color);
}

.board.x .cell:not(.x):not(.heart):hover::before,
.board.x .cell:not(.x):not(.heart):hover::after,
.board.heart .cell:not(.x):not(.heart):hover::before,
.board.heart .cell:not(.x):not(.heart):hover::after {
  background-color: var(--secondary-background-color);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.heart):hover::before,
.board.x .cell:not(.x):not(.heart):hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.heart):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.heart):hover::after {
  transform: rotate(-45deg);
}

.cell.heart::before,
.cell.heart::after,
.board.heart .cell:not(.x):not(.heart):hover::before,
.board.heart .cell:not(.x):not(.heart):hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(var(--mark-size) * 0.5);
  height: calc(var(--mark-size) * 0.8);
  border-radius: 50px 50px 0 0;
}

.cell.heart::before,
.board.heart .cell:not(.x):not(.heart):hover::before {
  transform: rotate(45deg);
  transform-origin: 35px 45px;
}

.cell.heart::after,
.board.heart .cell:not(.x):not(.heart):hover::after {
  transform: rotate(-45deg);
  transform-origin: 10px 44px;
}

.set-select-position {
  position: absolute;
  top: 66%;
  left: 3%;
}

.set-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  flex: 1;
  padding: 0 0.5em;
  outline: 0;
  color: var(--secondary-background-accent-color);
  cursor: pointer;
  border: 2px solid var(--primary-background-accent-color);
  background: var(--primary-background-color);
  box-shadow: none;
}
.set-select::-ms-expand {
  display: none;
}
.set-select-wrapper {
  position: relative;
  display: flex;
  width: 15em;
  height: 2.5em;
  line-height: 3;
  border-radius: 0.25em;
  overflow: hidden;
}
.set-select-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  pointer-events: none;
  color: var(--secondary-background-accent-color);
  cursor: pointer;
  /* border-left: 2px solid var(--primary-background-accent-color); */
  transition: all var(--transition-duration) var(--cubic-bezier);
}
.set-select-wrapper:hover::after {
  color: var(--main-text-color);
}

.undo-button {
  position: absolute;
  top: 63%;
  left: 80%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  color: var(--secondary-background-accent-color);
  background: transparent;
  border: 2px solid var(--primary-background-accent-color);
  border-radius: 16px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    box-shadow var(--transition-duration) var(--cubic-bezier),
    border-color var(--transition-duration) var(--cubic-bezier);
}

.undo-button:hover,
.undo-button:focus {
  border: 2px solid var(--border-color);
  background-color: var(--primary-background-accent-color);
  color: var(--main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.undo-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  color: var(--primary-background-accent-color);
  background-color: rgba(0, 0, 0, 0.7);
}

.winning-message button {
  padding: 0.25em 0.5em;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid var(--winning-message-color);
  background-color: var(--primary-background-accent-color);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    border-color var(--transition-duration) var(--cubic-bezier);
}

.winning-message button:hover {
  border: 1px solid var(--primary-background-accent-color);
  background-color: var(--winning-message-color);
  color: var(--primary-background-accent-color);
}

.winning-message.show {
  display: flex;
}
