:root {
  --primary-background-color: #1a1a1d;
  --secondary-background-color: #4e4e50;
  --primary-background-accent-color: gainsboro;
  --secondary-background-accent-color: white;
  --primary-accent-color: #44318d;
  --secondary-accent-color: #c3073f;
  --main-text-color: white;
  --border-color: dimgray;
  --winning-message-color: black;

  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
