:root {
  --primary-background-color: #5cdb95;
  --secondary-background-color: #8ee4af;
  --primary-background-accent-color: #edf5e1;
  --secondary-background-accent-color: #1f1f29;
  --primary-accent-color: #05386b;
  --secondary-accent-color: #f2d349;
  --main-text-color: white;
  --border-color: dimgray;
  --winning-message-color: black;

  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
