:root {
  --primary-background-color: #f7f9fb;
  --secondary-background-color: gainsboro;
  --primary-background-accent-color: cornflowerblue;
  --secondary-background-accent-color: #1f1f29;
  --primary-accent-color: cornflowerblue;
  --secondary-accent-color: pink;
  --main-text-color: #1f1f29;
  --border-color: dimgray;
  --winning-message-color: black;

  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
